.quote{
    font-family: -apple-system, sans-serif;
    padding: 10px;
    margin: 5px;
    margin-top: 35px;
    border: 2px solid gainsboro;
    background: white;
    position: relative;
    font-size: 20px;
}
.qoute-btns-block{
    position: absolute;
    top: -30px;
    right: 0;
}
.qoute-btns-block button{
    background: lightcyan;
    border: 2px solid gainsboro;
}
.qoute-btns-block button:hover{
    border: 2px solid lightblue;
}
.qoute-btns-block button:active{
    background: lightsteelblue;
}
.author{
    position: absolute;
    left: 10px;
    bottom: -25px;
    color: grey;
    font-style: italic;
    font-size: 15px;
}