
.categories-block {
    min-width: 25%;
    border-right: 2px solid gainsboro;
}

.categories-wrapper {
    border-top: 2px solid gainsboro;
    border-bottom: 2px solid gainsboro;
    padding: 15px 10px;
    margin-right: 10px;
}
.categories-wrapper ul{
    list-style-type: square;
}
.categories-wrapper ul li::marker{
    color: lightcoral;
}
.categories-wrapper a{
    text-decoration: none;
    color: black;
}